
    <div className="cart-container">
      <div className="cart-header">
          Shopping Cart
      </div>
      <div className="item">
          <img src="toy1.jpg" alt="Toy 1" className="item-image" />
          <div className="item-details">
              <div className="item-name">Toy 1</div>
              <div className="item-quantity">Quantity: 1</div>
              <div className="item-price">$19.99</div>
          </div>
      </div>
      <div className="item">
          <img src="toy2.jpg" alt="Toy 2" className="item-image" />
          <div className="item-details">
              <div className="item-name">Toy 2</div>
              <div className="item-quantity">Quantity: 2</div>
              <div className="item-price">$39.98</div>
          </div>
      </div>
      <div className="item">
          <img src="toy3.jpg" alt="Toy 3" className="item-image" />
          <div className="item-details">
              <div className="item-name">Toy 3</div>
              <div className="item-quantity">Quantity: 3</div>
              <div className="item-price">$59.97</div>
          </div>
      </div>
      <div className="total">
          Total: $119.94
      </div>
      <button className="checkout-btn">Proceed to Checkout</button>
  </div>


