<div class="product-list" style="padding-top: 80px;">
    <div *ngFor="let product of productos" class="product-item">
      <img [src]="product.urlFoto" alt="{{ product.name }}" (click)="showProductDetails(product)" />
      <div class="overlay" ><i class="fas fa-plus-circle "></i></div>
      <p class=".sin-margen">Precio: S/.{{product.precio}}</p>
      
    </div>
   
</div>
  
<div *ngIf="selectedProduct" class="product-details">
    <h2>Nombre: {{ selectedProduct.nombre_Juguete }}</h2>
    <p>Descripcion: {{ selectedProduct.descripcion }}</p>
    <p>Precio: ${{ selectedProduct.precio }}</p>
 
</div>
