
<div class="wrapper fadeInDown" style="margin-top: 50px; padding: 80px;background-image: url(&quot;assets/img/portfolio/game.png&quot;);">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icono -->
      <div class="fadeIn first" style="padding: 30px;">
        <!-- <img src="assets/img/star-sky.jpg" id="icon" alt="User Icon" /> -->
        <i class="fas fa-user-circle " style="font-size: 150px"></i>
        <br>
      </div>

      <form [formGroup]="newform" >
        <input type="text" id="login" class="fadeIn second"  placeholder="Correo" formControlName="uid" >
        <input type="password" id="password" class="fadeIn third"  placeholder="contraseña" formControlName="pwd"autocomplete="off">
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="__onSubmit()">
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="modifica-contra">¿Olvidaste tu contraseña?</a>
      </div>

      <!--Register -->
      <div id="formFooter">
        <a class="underlineHover" href="user-new">Registrate</a>
      </div>

      <div class="form-group">
        <p>
            valor login : {{ newform.value| json }}
           
            
        </p>
        <p>
            Formulario Valido?: {{ newform.valid }}
        </p>
       
    </div>
  
    </div>
  </div>