<div class="row" style="padding-top: 120px; text-align: center;">
    <div class="col -6" style="text-align: left; padding-left: 100px;">
        <h1>Mundo Juguetes</h1> 
        <br>
        <p style=" text-indent: 20px;">
            Juguetería “Mundo Juguetes” es un paraíso para los niños y un lugar mágico para los padres. 	Fundada en 1995, nos dedicamos a proporcionar las mejores experiencias de juego y 	  	aprendizaje para los niños de todas las edades. Nos especializamos en ofrecer una amplia 	gama de juguetes de alta calidad que fomentan la creatividad, el desarrollo cognitivo y las 	habilidades sociales
        </p>
        <h1>Mision</h1> 
        <br>
        <p style=" text-indent: 20px;">
            Nuestra misión es proporcionar a los niños y niñas productos de calidad que estimulen su creatividad, aprendizaje y diversión de manera segura.
        </p>     
        <h1>Vision</h1> 
        <br>
        <p style=" text-indent: 20px;">
            Ser la juguetería de referencia a nivel regional, reconocida por ofrecer una amplia gama de productos innovadores y de alta calidad que fomenten el desarrollo integral de los niños.
        </p>    
    </div>
    <div class="col-7">
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.115886544763!2d-76.968285519887!3d-12.104218312363647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c70ab77498c1%3A0xcce9f50642e7c684!2sUniversidad%20Peruana%20de%20Ciencias%20Aplicadas!5e0!3m2!1ses-419!2spe!4v1698112248458!5m2!1ses-419!2spe" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        <div class="col">
            <img src="assets/img/jugueteria2.jpg" style="margin-left: 100px;" width="300px" >
        </div>
        <div class="col">
            <img src="assets/img/jugueteria3.jpg" style="margin-left: 100px; margin-top: 70px;" width="300px" >
        </div>
    </div>
</div>