<header class=" text-white text-center" >
  <nav class="navbar navbar-expand-lg navbar-light fixed-top " style="background-color: rgb(234, 172, 29);">
<!-- Icono del home     -->
    <a class="navbar-brand js-scroll-trigger" routerLink="home" style="color: rgb(10, 10, 10); margin-right: 740px;">
      <i class="fas fa-home " style="font-size: x-large">home</i>
    </a>
<!-- Para que sea responsiva      -->
    <button class="navbar-toggler " style="text-align: end;" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<!-- Div que contiene todas las pestañas del navBar el navBar -->
    <div class="collapse navbar-collapse "  id="navbarNavDropdown"  >
      <ul class="navbar-nav ml-auto" >

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorias
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="accion" (click)="SeleccionaCategoria(1)">Acción</a>
              <a class="dropdown-item" routerLink="accion" (click)="SeleccionaCategoria(3)">Carros</a>
              <a class="dropdown-item" routerLink="accion" (click)="SeleccionaCategoria(4)">Bebes</a>
              <a class="dropdown-item" routerLink="accion" (click)="SeleccionaCategoria(2)">Juegos de Mesa</a>
            </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Marcas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Fisher Price</a>
            <a class="dropdown-item" href="#">Playmobil</a>
            <a class="dropdown-item" href="#">Lego</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" >Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="catalogo" id="navbarDropdownMenuLink" >Catálogo</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="ventas-corporativas" id="navbarDropdownMenuLink" style="width: 200px; " > Ventas Corpoativas </a>
        </li>
        
        <div class="container  ">
<!-- Icono user         -->
          <a class="navbar-brand js-scroll-trigger " *ngIf="getlogin()" routerLink="user-login" id="navbarDropdownMenuLink"  style="color: rgb(10, 10, 10); ">
            <i class="fas fa-user-circle " style="font-size: x-large"></i>
          </a>
<!-- Icono user Logueado     -->
          <a class="navbar-brand js-scroll-trigger " *ngIf="!getlogin()" routerLink="perfil"  id="navbarDropdownMenuLink"  style="color: rgb(37, 23, 130) ; ">
            <i class="fas fa-star " style="font-size: x-large"></i>
          </a>
<!--Icono Carrito de compras  -->
          <a class="navbar-brand js-scroll-trigger " routerLink="compras" id="navbarDropdownMenuLink"  style="color: rgb(10, 10, 10);">
            <i class="fas fa-shopping-basket " style="font-size: x-large"></i>
          </a>
        </div>
      </ul>
      
    </div>
  </nav>
</header>
<div class="container">
  
</div>
<router-outlet></router-outlet>