<div class="wrapper fadeInDown" style="margin-top: 100px; padding: 100px;">
    <div  id="formContent" style=" margin-left: 500px; position: relative;">
        <div class="container mt-5" > 
            <h2 class="mb-4">Te contactamos</h2>
            <form method="post" [formGroup]="userForm" >
                <div class="form-group">
                    <input type="text" formControlName="tipoEmpresa" placeholder="Ingrese Nombre" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" formControlName="apellido" placeholder="Ingrese Apellido" class="form-control">
                </div>
                <div class="form-group">
                    <input type="email" formControlName="correo" placeholder="Ingrese Correo" class="form-control">
                </div>
                <div class="form-group">
                    <textarea formControlName="mensaje" placeholder="Ingrese Comentario" class="form-control" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" (click)="__onSubmit()">Registrar</button>
                </div>
                <a class="link" href="terminos" style="color: blue;">Terminos y condiciones </a>

            </form>
              
          </div>
          
    </div>
