<div class="wrapper fadeInDown" style="margin-top: 50px; padding: 80px;background-image: url(&quot;assets/img/portfolio/safe.png&quot;);">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first" style="padding: 30px;">
        <!-- <img src="assets/img/star-sky.jpg" id="icon" alt="User Icon" /> -->
        <i class="fas fa-user-circle " style="font-size: 150px"></i>
        <br>
      </div>
  


      <form [formGroup]="newform" >
        <div>
          <input type="text"  class="fadeIn second"  placeholder="Nombres" formControlName="nombre">
          <input type="text"  class="fadeIn third"  placeholder="Apellidos" formControlName="apellidos">
          <input type="email"  class="fadeIn fourth"  placeholder="ejemplo@email.com" formControlName="correo">
        </div>
        <div>
          <input type="text"  class="fadeIn second"  placeholder="Empresa" formControlName="empresa">
          <input type="text"  class="fadeIn third"  placeholder="Dirección" formControlName="direccion">
          <input type="text"  class="fadeIn second"  placeholder="Referencia Direccion" formControlName="RefDireccion">
        </div>
        <div>
          <input type="text"  class="fadeIn fourth"  placeholder="Distrito" formControlName="distrito">
          <input type="text"  class="fadeIn second"  placeholder="Departamento" formControlName="departamento">
          <input type="text"  class="fadeIn third"  placeholder="Provincia" formControlName="provincia">
        </div>
        <div>
          <div class="newform">
            <select formControlName="tipoDocumento" class="btn btn-outline-secondary dropdown-toggle" style="background-color: rgb(114, 133, 201);">
                <option value="" selected="">Tipo de Documento</option>
                <option value="1">DNI</option>
                <option value="2">RUC</option>
            </select>
            <input type="text" class="form-control" aria-label="Text input with dropdown button" style="height: 10px;" [disabled]="isInputDisabled()" >
        </div>
          <input type="text"  class="fadeIn third"  placeholder="Telefono" formControlName="telefono">
        </div>

        <div class="newform" style="padding: 30px;" >
          
          <label class="form-check-label" style="color: brown;">
            <a  href="terminos">  Acepto los terminos y condiciones  </a>
            <input class="form-check-input" type="checkbox"  formControlName="terms">
          </label>
               
        </div>
        <p *ngIf="isInputDisabled2()" style="color: brown;">
          Debes aceptar los terminos y condiciones.
        </p>
        <input type="submit" class="fadeIn five" value="Registrar"  (click)="__onSubmit()" [disabled]="isInputDisabled2()" >
        
        
        <!-- <div class="form-group">
          <p>
              Datos del formulario: {{ newform.value | json }}
              valor check : {{ isInputDisabled2()| json }}
          </p>
          <p>
              Formulario Valido?: {{ newform.valid }}
          </p>
         
      </div> -->
      </form>

      <!--Register -->
      <div id="formFooter">
        
        
        
      </div>
  
    </div>
  </div>
