<div style="padding-top: 100px;">
   <h1 style="font-size: 20px;"> Términos y Condiciones de Uso - Aplicación Web "Juguetería"</h1>

    <h2 style="font-size: 15px;">Fecha de entrada en vigor: [2023]</h2>

    <h3 style="font-size: 13px; font-weight: bold;">1. Aceptación de los Términos y Condiciones</h3>

        <p style="color: rgb(205, 104, 104); font-size: 12px; font-style: oblique;">Al acceder y utilizar la aplicación web "Juguetería", aceptas cumplir y estar sujeto a los siguientes términos y condiciones de uso. Si no estás de acuerdo con alguno de estos términos, te pedimos que no utilices la aplicación.
        </p>
    <h3 style="font-size: 13px; font-weight: bold;">2. Uso Autorizado</h3>

        <p style="color: rgb(205, 104, 104); font-size: 12px; font-style: oblique;">Solo se te concede el derecho de utilizar la aplicación web "Juguetería" para fines personales y no comerciales. Queda estrictamente prohibido el uso no autorizado, incluyendo la reproducción, distribución, transmisión o modificación del contenido sin el consentimiento explícito de los propietarios de la aplicación.
        </p>
    <h3 style="font-size: 13px; font-weight: bold;">3. Registro de Cuenta</h3>

        <p style="color: rgb(205, 104, 104); font-size: 12px; font-style: oblique;">Para acceder a ciertas funciones y servicios de la aplicación, es posible que necesites registrarte y crear una cuenta. Debes proporcionar información precisa y completa durante el proceso de registro, y eres responsable de mantener la confidencialidad de tu contraseña.
        </p>
    <h3 style="font-size: 13px; font-weight: bold;" >4. Política de Privacidad</h3>

        <p style="color: rgb(205, 104, 104); font-size: 12px; font-style: oblique;">  El uso de la aplicación está sujeto a nuestra Política de Privacidad, que detalla cómo recopilamos, almacenamos y utilizamos la información proporcionada por los usuarios. Al utilizar la aplicación, aceptas los términos de nuestra Política de Privacidad.
        </p>
    <h3 style="font-size: 13px; font-weight: bold;">5. Contenido del Usuario</h3>

        <p style="color: rgb(205, 104, 104); font-size: 12px; font-style: oblique;"> Al enviar contenido a la aplicación, como reseñas, comentarios o cualquier otro material, otorgas a la "Juguetería" una licencia no exclusiva, transferible, sublicenciable, libre de regalías y global para usar, reproducir, distribuir y mostrar dicho contenido en relación con la aplicación.
        </p>
    <h3 style="font-size: 13px; font-weight: bold;">6. Conducta del Usuario</h3>

        <p style="color: rgb(205, 104, 104); font-size: 12px; font-style: oblique;">Te comprometes a utilizar la aplicación de manera que cumpla con todas las leyes y regulaciones aplicables. No debes interferir con el funcionamiento normal de la aplicación ni intentar acceder a áreas restringidas sin autorización.
        </p>
    <h3 style="font-size: 13px; font-weight: bold;">7. Modificaciones y Actualizaciones</h3>

        <p style="color: rgb(205, 104, 104); font-size: 12px; font-style: oblique;">Nos reservamos el derecho de realizar modificaciones y actualizaciones en la aplicación, incluyendo cambios en los términos y condiciones de uso. Te recomendamos revisar periódicamente estos términos para estar al tanto de cualquier actualización.
        </p>
    <h3 style="font-size: 13px; font-weight: bold;">8. Terminación de Acceso</h3>

        <p style="color: rgb(205, 104, 104); font-size: 12px; font-style: oblique;">Nos reservamos el derecho de suspender o terminar tu acceso a la aplicación en cualquier momento y por cualquier motivo, incluyendo la violación de estos términos y condiciones.
        </p>
    <h3 style="font-size: 13px; font-weight: bold;">9. Limitación de Responsabilidad</h3>

        <p style="color: rgb(205, 104, 104); font-size: 12px; font-style: oblique;">La aplicación se proporciona "tal cual" y no ofrecemos garantías de ningún tipo con respecto a su funcionamiento o disponibilidad. No seremos responsables por daños directos, indirectos, incidentales, consecuentes o especiales que puedan surgir del uso o la imposibilidad de usar la aplicación.
        </p>
    <h3 style="font-size: 13px; font-weight: bold;">10. Ley Aplicable y Resolución de Disputas</h3>

        <p style="color: rgb(205, 104, 104); font-size: 12px; font-style: oblique;">Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes del [país] y cualquier disputa que surja en relación con la aplicación estará sujeta a la jurisdicción exclusiva de los tribunales de [ciudad/país].
        </p>
    <p style="color: rgb(205, 104, 104); font-size: 15px; font-style: oblique;">Al utilizar la aplicación web "Juguetería", reconoces haber leído, entendido y aceptado estos términos y condiciones de uso. Si no estás de acuerdo con estos términos, te pedimos que no utilices la aplicación.
    </p>
</div>